<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thesis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.GetFromMyExercises"></activity>
        <activity android:name=".Activities.PersonalExerciseAdd" />
        <activity android:name=".Activities.TraineeExerView" />
        <activity android:name=".Activities.ClassList" />
        <activity android:name=".Activities.PersonalExercise" />
        <activity android:name=".Activities.ProgramExercise" />
        <activity android:name=".Activities.ClassExerAdd" />
        <activity android:name=".Activities.CreateWorkOutProg" />
        <activity android:name=".Activities.UserInfo" />
        <activity android:name=".Activities.AcceptClass" />
        <activity android:name=".Activities.EnrollClass" />
        <activity android:name=".Activities.ChooseInstructor" />
        <activity android:name=".Activities.InstructorHome" />
        <activity android:name=".Activities.LoginPage" />
        <activity android:name=".Activities.TraineeHome" />
        <activity android:name=".Activities.RegisterPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>